<div class="container-fluid">
  <div class="col-md-12 col-lg-12">
    <p-tabView>
      <p-tabPanel header="Grid View">
        <app-budget-grid></app-budget-grid>
      </p-tabPanel>

      <p-tabPanel header="D3 View">
        <!-- Add the necessary import statement for 'p-tabPanel' component -->
        <app-donutchart></app-donutchart>
      </p-tabPanel>

      <p-tabPanel header="CharJS View">
        <!-- Add the necessary import statement for 'p-tabPanel' component -->
        <app-chartjsdonut></app-chartjsdonut>
      </p-tabPanel>


    </p-tabView>
  </div>
</div>
