div.hero {
  height: 350px;
  background-color: #b4c6f0;
  background-image: url('../../assets/bg.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 40px;
}

div.hero h1,
div.hero h2 {
  text-align: center;
  margin: 0;
}

div.hero h1 {
  color: #4044C6;
  font-size: 4.2em;
  margin-bottom: 20px;
  a {
    color: #4044C6;
    text-decoration: none;

  }
}

div.hero h2 {
  color: #012238;
}
