nav {

  background-color: #4d5791;

  padding: 0 40px;
}

nav ul,
nav ul li {
  margin: 0;
  padding: 0 ;
  list-style: none;
  display: flex;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 44px;
  font-size: 1.4em;
  text-decoration: none;
  color: #fff;
  margin: 0;
}



nav ul li a:hover  {
  background-color: white;
  color: #4d5791;
}

nav ul li .active  {
  background-color: white;
  color: #4d5791;
}
nav .navbar-logo img {
  width: 40px;
  height: 40px;
  margin: 0  20px  0 0;
  padding: 0;
}







@media screen and (max-width: 768px) {
  nav ul,
  nav ul li {
      flex-direction: column;
}
  nav ul li a {
      padding: 20px 0;
      border-bottom: 1px solid #fff;
}
  nav ul li a:hover  {
      background-color: #4d5791;
      color: #fff;
}
}

@media screen and (min-width: 1400px) {

}
@media screen and (min-width: 1600px) {

}
@media screen and (min-width: 1900px) {

}
